.home-page-container
{
    height: 100vh;
    width: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.home-page-row {
    width: 90vw;
}

@media (min-width: 768px) {
    .home-page-row {
        width: 60vw;
    }
}